.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  background-color: rgb(61, 58, 58);
  width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 1rem;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 10px 1px rgb(140, 135, 175);
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formInput label {
  color: whitesmoke;
  padding-bottom: 0.3rem;
  font-variant: small-caps;
}

.formInput input {
  height: 2rem;
  border-radius: 0.3rem;
  outline: none;
  padding-left: 1rem;
  box-shadow: 0 0 5px grey;
  background-color: grey;
  border: none;
  cursor: default;
}

.signButton {
  color: wheat;
  background-color: #000;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

.signButton:hover {
  color: #000;
  background-color: wheat;
}

.signUpLink p {
  padding: 1rem 0;
  text-align: center;
  color: rgb(196, 181, 153);
  font-size: 1.1rem;
}

.signUpLink a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.errors {
  color: red;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem 0;
}
